.button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-right: 1rem;
}
.button:hover {
  opacity: 0.8;
}

.button.active {
  background: blue;
  color: white;
}

.button.disabled {
  opacity: 0.3;
}
